<%- include('_header'); %>

<section>
    <div>
        <h1><%= quote.content %></h1>
        <h3><%= quote.author %></h3>
    </div>
    <div class="mt-5">
        <h5>8 tasks will be overdue in 24 hours.</h5>
    </div>
</section>
<section style="background: var(--light);">
    <div class="table-responsive-sm">
        <table data-toggle="table" data-search="true" class="table table-hover">
            <thead>
                <tr>
                    <th data-sortable="true" data-sorter="nameSorter">Name</th>
                    <th data-sortable="true">From</th>
                    <th data-sortable="true">To</th>
                    <th data-sortable="true">Class</th>
                </tr>
            </thead>
            <tbody>
                <% for (const task of tasks) { %>
                    <tr>
                        <td><a href="/tasks/<%= task.task_id %>"><%= task.task_name %></a></td>
                        <td data-original-title="<%= task.start %>" data-toggle="tooltip" data-placement="top"
                        data-container="body">2 days ago</td>
                        <td data-original-title="<%= task.end %>" data-toggle="tooltip" data-placement="top"
                            data-container="body">after 2 days</td>
                        <td>
                            <a href="/messages/1/<%= task.class_id %>"><%= task.class_name %></a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>
<script>
    function nameSorter(a, b) {
        return a.replace(/href=.*"/, "").localeCompare(b.replace(/href=.*"/, ""));
    }
</script>

<%- include("_footer"); %> 