<%- include('_header'); %>
<link rel="stylesheet" href="/stylesheets/chat.css">
<script src="/scripts/messageView.js"></script>
<main>
    <div class="bg-dark text-light rounded shadow p-2 mt-0 ">
        <%
            var str = messages[0].displayname;
            var img = str.includes("Student")? "fa-user":"fa-slideshare";
        %>    
        <h2><i class="fa <%= img %>"></i> <%= messages[0].displayname %></h2>
    </div>
    
    <section  id="message">
        <% for (const message of messages) { %>
            <div class="message mb-3 <%= message.from_id == session.user.id ? "out bg-primary text-light ml-auto" : "in bg-white mr-auto" %>">
                <div class="author px-2">
                    <b><%= message.user_name %></b>
                </div>
                <div class="content py-1 px-2"><%= message.content %></div>
                <p class="small px-1 py-1 text-right"><%= message.at %></small>
            </div>
        <% } %>
    </section>
</main>

<nav class="col-sm-12 mx-auto bg-dark inputer">
    <section id="form">
        <form method="POST">
            <button type="submit" role="button" class="btn btn-success float-right m-2" value="Send" >
                <i class="fa fa-paper-plane"></i>
            </button>
            
            
            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Message..."></textarea>
            </div>
            
        </form>
    </section> 
</nav>
<!-- <%- include("_footer"); %> -->