<%- include('_header'); %>

<section>
    <h3>You have <%= messages.length %> messages.</h3>
    <a href="/message/new" role="button" class="btn btn-primary">New message</a>
</section>

<section class="mt-3">
    <ul class="list-group">
        <% for (const message of messages) { %>
            <a href="/message/<%= message.type %>/<%= message.target_id %>" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= message.name %></h5>
                    <small><%= message.at %></small>
                </div>
                <span class="badge badge-primary badge-pill"><%= message.cnt %></span>
            </a>
        <% } %>
    </ul>
</section>

<%- include("_footer"); %> 