<%- include('_header'); %>
<link rel="stylesheet" href="/stylesheets/chat.css">

<main>
    <a href="javascript:history.back()" role="button" class="btn btn-danger">Back</a>
    <h1><%= messages[0].displayname %></h1>
    <section id="message">
        <% for (const message of messages) { %>
            <div class="message w-50 mb-3 <%= message.from_id == session.user.id ? "out bg-primary text-light ml-auto" : "in bg-white mr-auto" %>">
                <div class="author py-1 px-2"><%= message.user_name %></div>
                <div class="content py-1 px-2"><%= message.content %></div>
                <p class="small px-1 py-1 text-right"><%= message.at %></small>
            </div>
        <% } %>
    </section>
    
    <section id="form" class="mt-2">
        <form method="POST">
            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Message..."></textarea>
            </div>
            <input type="submit" role="button" class="btn btn-success" value="Send" />
        </form>
    </section>
</main>

<%- include("_footer"); %>