<%- include('../_header'); %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/stylesheets/collapse-list.css">

<section>
<div class="card card-content bg-light">
    <div class="mt-1">
        <div class="px-0">
            <h4 class="ml-3">Task statistics for <%= task.name %></span></h4>
            <hr class="mt-0" />
            <div >
                <% for (const attempt of attempts) { %>
                    <% 
                        const score = (attempt.s * 10000 | 0) / attempt.c / 100;
                        const cl = score >= 50 ? "success" : "danger";
                    %> 
                    <div class="list-group bs-callout bs-callout-<%= cl %> p-0">
                        <div class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%= attempt.name %></h5>
                            </div>
                            <p class="mb-0 mt-1" style="font-size: 12px;">Done on</p>
                            <b class="mb-1 time end"><%= attempt.at %></b><br/>

                            <p class="mt-1 mb-0 float-right" style="font-size: 12px;">Score </p><br/>
                            <p class="h2 text-<%= cl %> float-right"><%= score %>%</p><br><br>
                            
                            <a href="/tasks/attempt/<%= attempt.attempt_id %>" class="list-group-item list-group-item-action">
                                <i class="fa fa-comment" style="font-size: 20px;"></i> View</b>
                            </a>
                                
                            <a href="/messages/0/<%= attempt.user_id %>" class="list-group-item list-group-item-action text-primary">
                                <b><i class="fa fa-bar-chart" style="font-size: 20px;"></i> Chat</b>
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</section>

<%- include('../_footer'); %>